---
import Layout from "../layouts/Layout.astro";
const base = import.meta.env.BASE_URL.replace(/\/$/, "");
---

<Layout
    title="Dazzle World General Trading LLC – We Trade You Benefit"
    description="Authorized distributor of polymers, resins, branded innerwear garments, perfumes, and industrial solutions across GCC, Middle East & Africa."
>
    <style>
        .portfolio-column-in-three .portfolio-item {
            height: 488px;
        }
    </style>

    <!-- Page Header Start !-->
    <div class="page-breadcrumb-area">
        <div class="page-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div
                        class="te-breadcrumb-wrapper wow animate__animated animate__slideInDown animate__slow"
                    >
                        <div class="te-page-heading">
                            <h3 class="te-page-title">
                                Polymer & Resin Division
                            </h3>
                        </div>
                        <div class="te-breadcrumb-list">
                            <ul>
                                <li><a href={`${base}/`}>Home</a></li>
                                <li class="active">Polymer & Resin Division</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End !-->
    <!-- Project Page Start -->
    <div class="project-page-wrapper">
        <div class="container">
            <ul
                class="portfolio-btn-lis wow animate__animated animate__fadeInLeft animate__slow"
            >
                <li class="portfolio-btn active" data-filter="*">All</li>
                <li class="portfolio-btn" data-filter=".polymers">
                    Commodity Polymers
                </li>
                <li class="portfolio-btn" data-filter=".plastics">
                    Engineering Plastics
                </li>
            </ul>
            <div class="row gy-5">
                <div class="col-12">
                    <div class="portfolio-gallery-wrapper">
                        <div class="portfolio-column-in-three">
                            <div
                                class="portfolio-item polymers wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/HDPE-Offgrade.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Commodity Polymers</span
                                        >
                                        <h3 class="title">
                                            HDPE Prime & Offgrade
                                        </h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="HDPE Offgrade"
                                            data-image={`${base}/images/polymer/HDPE-Offgrade.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="portfolio-item polymers wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/LLDPE-HDPE-Mix-Offgrade.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Commodity Polymers</span
                                        >
                                        <h3 class="title">
                                            LLDPE+HDPE Mix Offgrade
                                        </h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="LLDPE+HDPE Mix Offgrade"
                                            data-image={`${base}/images/polymer/LLDPE-HDPE-Mix-Offgrade.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="portfolio-item plastics wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/PET-Clear.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Engineering Plastics</span
                                        >
                                        <h3 class="title">PET Clear</h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="PET Clear"
                                            data-image={`${base}/images/polymer/PET-Clear.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="portfolio-item plastics wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/PET-White.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Engineering Plastics</span
                                        >
                                        <h3 class="title">PET White</h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="PET White"
                                            data-image={`${base}/images/polymer/PET-White.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="portfolio-item plastics wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/PE-Wax.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Engineering Plastics</span
                                        >
                                        <h3 class="title">PE Wax</h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="PE Wax"
                                            data-image={`${base}/images/polymer/PE-Wax.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="portfolio-item polymers wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/PE100-Grade-1.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Commodity Polymers</span
                                        >
                                        <h3 class="title">PE100-Grade-1</h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="PE100-Grade-1"
                                            data-image={`${base}/images/polymer/PE100-Grade-1.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="portfolio-item plastics wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/ABS.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Engineering Plastics</span
                                        >
                                        <h3 class="title">ABS</h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="ABS"
                                            data-image={`${base}/images/polymer/ABS.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="portfolio-item polymers wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/PP-Grade-1.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Commodity Polymers</span
                                        >
                                        <h3 class="title">
                                            PP Prime & Offgrade
                                        </h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="PP Grade-1"
                                            data-image={`${base}/images/polymer/PP-Grade-1.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="portfolio-item polymers wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/PP-White(Recycle).jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Commodity Polymers</span
                                        >
                                        <h3 class="title">
                                            PP-White (Recycle)
                                        </h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="PP-White (Recycle)"
                                            data-image={`${base}/images/polymer/PP-White(Recycle).jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="portfolio-item polymers wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/LLDPE-Grade-1.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Commodity Polymers</span
                                        >
                                        <h3 class="title">
                                            LLDPE Prime & Offgrade
                                        </h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="LLDPE Grade-1"
                                            data-image={`${base}/images/polymer/LLDPE-Grade-1.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="portfolio-item polymers wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/LLDPE-Grade-2.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Commodity Polymers</span
                                        >
                                        <h3 class="title">LLDPE Grade-2</h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="LLDPE Grade-2"
                                            data-image={`${base}/images/polymer/LLDPE-Grade-2.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="portfolio-item polymers wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/HDPE-Grade-2.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Commodity Polymers</span
                                        >
                                        <h3 class="title">HDPE Grade-2</h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="HDPE Grade-2"
                                            data-image={`${base}/images/polymer/HDPE-Grade-2.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="portfolio-item polymers wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/HDPE-1(Recycle).jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Commodity Polymers</span
                                        >
                                        <h3 class="title">HDPE-1 (Recycle)</h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="HDPE-1 (Recycle)"
                                            data-image={`${base}/images/polymer/HDPE-1(Recycle).jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="portfolio-item polymers wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/HDPE-1(Chips).jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Commodity Polymers</span
                                        >
                                        <h3 class="title">HDPE-1 (Chips)</h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="HDPE-1 (Chips)"
                                            data-image={`${base}/images/polymer/HDPE-1(Chips).jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="portfolio-item polymers wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/LDPE-Prime-and-Offgrade.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Commodity Polymers</span
                                        >
                                        <h3 class="title">
                                            LDPE Prime & Offgrade
                                        </h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="LDPE Prime & Offgrade"
                                            data-image={`${base}/images/polymer/LDPE-Prime-and-Offgrade.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="portfolio-item plastics wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/polycarbonate.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Engineering Plastics</span
                                        >
                                        <h3 class="title">
                                            Polycarbonate Resin
                                        </h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="Polycarbonate Resin"
                                            data-image={`${base}/images/polymer/polycarbonate.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="portfolio-item plastics wow animate__animated animate__fadeInUp animate__slow"
                            >
                                <div class="portfolio-img">
                                    <img
                                        src={`${base}/images/polymer/pvc.jpeg`}
                                        alt="image"
                                    />
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <span class="sub-title"
                                            >Engineering Plastics</span
                                        >
                                        <h3 class="title">PVC Resin</h3>
                                        <button
                                            class="btn btn-warning enquiry-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#enquiryModal"
                                            data-product="PVC Resin"
                                            data-image={`${base}/images/polymer/pvc.jpeg`}
                                        >
                                            Enquire Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12">
                    <div class="te-basic-pagination">
                        <ul class="justify-content-center">
                            <li>
                                <span aria-current="page" class="page-numbers current">1</span>
                            </li>
                            <li><a class="page-numbers" href="#">2</a></li>
                            <li><a class="page-numbers" href="#">3</a></li>
                            <li><span class="page-numbers dots">…</span></li>
                            <li><a class="page-numbers" href="#">5</a></li>
                            <li>
                                <a class="next page-numbers" href="#"><i class="fa fa-arrow-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Project Page End -->

    <div class="modal fade" id="enquiryModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content eq-modal-content">
                <div class="eq-modal-header">
                    <div class="eq-modal-header-text">
                        <p>Product Enquiry</p>
                        <h5 id="modalProductTitle">Product Name</h5>
                    </div>
                    <button
                        type="button"
                        class="eq-modal-close"
                        data-bs-dismiss="modal">✕</button
                    >
                </div>

                <div class="modal-body eq-modal-body">
                    <div class="eq-modal-grid">
                        <div class="eq-modal-image-panel">
                            <div class="eq-product-image-wrapper">
                                <img id="productImage" src="" alt="Product" />
                            </div>
                            <span id="productCategory" class="eq-product-badge"
                                >Category</span
                            >
                        </div>

                        <div class="eq-modal-form-panel">
                            <form id="enquiryForm" class="eq-form">
                                <input
                                    type="hidden"
                                    name="product"
                                    id="productDropdown"
                                />

                                <div class="eq-form-row">
                                    <div class="eq-field">
                                        <label class="eq-label">Your Name</label
                                        >
                                        <input
                                            type="text"
                                            name="name"
                                            placeholder="John Smith"
                                            required
                                            class="eq-input"
                                        />
                                    </div>
                                    <div class="eq-field">
                                        <label class="eq-label">Phone</label>
                                        <input
                                            type="text"
                                            name="phone"
                                            placeholder="+971 50 000 0000"
                                            class="eq-input"
                                        />
                                    </div>
                                </div>

                                <div class="eq-field">
                                    <label class="eq-label">Email</label>
                                    <input
                                        type="email"
                                        name="email"
                                        placeholder="john@company.com"
                                        required
                                        class="eq-input"
                                    />
                                </div>

                                <div class="eq-field">
                                    <label class="eq-label">Message</label>
                                    <textarea
                                        name="message"
                                        placeholder="Quantity required, delivery location, etc."
                                        rows="3"
                                        class="eq-textarea"></textarea>
                                </div>

                                <button type="submit" class="eq-submit-btn">
                                    Send Enquiry →
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Filter buttons
        const filterBtns = document.querySelectorAll(".portfolio-btn");
        const items = document.querySelectorAll(".portfolio-item");

        filterBtns.forEach((btn) => {
            btn.addEventListener("click", () => {
                filterBtns.forEach((b) => b.classList.remove("active"));
                btn.classList.add("active");

                const filter = btn.getAttribute("data-filter");

                items.forEach((item) => {
                    const el = item as HTMLElement;
                    if (
                        filter === "*" ||
                        (filter && item.classList.contains(filter.slice(1)))
                    ) {
                        el.style.display = "block";
                        el.classList.add(
                            "animate__animated",
                            "animate__fadeInUp",
                        );
                    } else {
                        el.style.display = "none";
                    }
                });
            });
        });

        // Enquiry modal
        document.querySelectorAll(".enquiry-btn").forEach((btn) => {
            btn.addEventListener("click", (e) => {
                const target = e.currentTarget as HTMLElement;
                const product = target.dataset.product;
                const image = target.dataset.image;
                const category =
                    target.closest(".content")?.querySelector(".sub-title")
                        ?.textContent ?? "";

                const modalTitle = document.getElementById("modalProductTitle");
                const dropdown = document.getElementById(
                    "productDropdown",
                ) as HTMLInputElement | null;
                const productImage = document.getElementById(
                    "productImage",
                ) as HTMLImageElement | null;
                const productCategory =
                    document.getElementById("productCategory");

                if (modalTitle) modalTitle.textContent = product ?? "";
                if (dropdown) dropdown.value = product ?? "";
                if (productImage) productImage.src = image ?? "";
                if (productCategory) productCategory.textContent = category;
            });
        });
    </script>
</Layout>
